exportPattern("^[[:alpha:]]+")
export(Electre_1S)
export(Electre_1S_sensitivity)
export(Electre_2)
export(Electre_2_sensitivity)
export(Electre_3)
export(Electre_3_sensitivity)
export(Electre_4)
export(Electre_4_sensitivity)
export(Electre_TRI)
export(Electre_TRI_sensitivity)
export(EWM)
export(FuzzyTOPSIS)
export(FuzzyVIKOR)
export(mcda_get_dominated)
export(mcda_del_dominated)
export(mcda_norm)
export(mcda_rescale_pm)
export(mcda_wsm)
export(plot.prefM)
export(plot.scoreM)
export(rankGraph)
export(PROMETHEE_I)
export(PROMETHEE_I_sensitivity)
export(PROMETHEE_II)
export(PROMETHEE_II_sensitivity)
export(PROMETHEE_III)
export(TOPSIS)
export(VIKOR)
export(plot.prefM)
export(plot.scoreM)
export(plot.threshold)
export(plot.threshold.3d)
export(summary.electre1)

S3method(summary,electre1)
S3method(summary,electre1s)

import(graphics)
import(igraph)
import(diagram)
import(mathjaxr)
import(stats)
importFrom("grDevices", "rainbow")
importFrom(R6, R6Class)
import(dplyr)
import(tidyr)
import(plotly)
import(visNetwork)
