exportPattern("^[[:alpha:]]+")
export(binary_paiwise_comp)
export(critic)
export(dematel)
export(EWM)
export(mcda_get_dominated)
export(mcda_del_dominated)
export(mcda_norm)
export(mcda_rescale_pm)
export(plot.prefM)
export(plot.scoreM)
export(rankGraph)
export(plot.prefM)
export(plot.scoreM)
export(plot.threshold)
export(plot.threshold.3d)
export(validation)
export(vector_compare)

S3method(summary,aras)
S3method(summary,cocoso)
S3method(summary,codas)
S3method(summary,copras)
S3method(summary,cradis)
S3method(summary,edas)
S3method(summary,electre1)
S3method(summary,electre1s)
S3method(summary,electre2)
S3method(summary,electre3)
S3method(summary,electre4)
S3method(summary,electretri)
S3method(summary,evamix)
S3method(summary,fuzzytopsis)
S3method(summary,fuzzyvikor)
S3method(summary,gra)
S3method(summary,marcos)
S3method(summary,merec)
S3method(summary,moora)
S3method(summary,moosra)
S3method(summary,oreste)
S3method(summary,promethee1)
S3method(summary,promethee2)
S3method(summary,promethee3)
S3method(summary,psi)
S3method(summary,qualiflex)
S3method(summary,regime)
S3method(summary,saw)
S3method(summary,sir)
S3method(summary,smart)
S3method(summary,todim)
S3method(summary,topsis)
S3method(summary,vikor)
S3method(summary,waspas)
S3method(summary,wisp)
S3method(summary,wpm)
S3method(summary,wsm)

import(graphics)
import(igraph)
import(diagram)
import(mathjaxr)
import(stats)
importFrom("grDevices", "rainbow")
importFrom(R6, R6Class)
import(dplyr)
import(tidyr)
import(plotly)
import(visNetwork)
